@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  outline: none;
}

body {
  width: 100%;
  background-color: white;
}

/* LOGO MOTO HOUSE */
div.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(28, 115, 245);
}

nav {
  background-color: rgb(28, 115, 245);
  height: 100%;
}

section.bmwimg {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(28, 115, 245);
  font-size: 1.5rem;
  width: 100%;
  height: auto;
}
section.bmwimg div.stock video {
  width: 100%;
}
section.bmwimg div.stock div.deelete {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(28, 115, 245);
  font-size: 3rem;
}
section.bmwimg .aprilia {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(202, 23, 32);
  text-decoration: none;
  font-size: 3rem;
}
section.bmwimg .yamaha {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(0, 29, 190);
  text-decoration: none;
  font-size: 3rem;
}
section.bmwimg .kawa {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(13, 177, 21);
  text-decoration: none;
  font-size: 3rem;
}
section.bmwimg .ktm {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(197, 83, 6);
  text-decoration: none;
  font-size: 3rem;
}
section.bmwimg .bmw {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(28, 115, 245);
  text-decoration: none;
  font-size: 3rem;
}

section.muestra {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}
section.muestra div {
  padding: 10px;
  text-align: center;
}

section#reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
section#reviews div.reviews-clientes {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#reviews div.reviews-clientes span {
  font-size: 1rem;
  color: darkslategrey;
  margin: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
section#reviews div.reviews-clientes h1 {
  font-size: 2rem;
  font-weight: 500;
  background-color: rgb(28, 115, 245);
  color: white;
  padding: 20px 10px;
  text-align: center;
}
section#reviews div.tarjeta-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
section#reviews div.tarjeta-review div.review-1 {
  width: 500px;
  box-shadow: 2px 2px 30px black;
  background-color: white;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
section#reviews div.tarjeta-review div.review-1 .caja1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
section#reviews div.tarjeta-review div.review-1 .caja1 .perfil {
  display: flex;
  align-items: center;
}
section#reviews div.tarjeta-review div.review-1 .caja1 .perfil .imagen-perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
section#reviews div.tarjeta-review div.review-1 .caja1 .perfil .imagen-perfil img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section#reviews div.tarjeta-review div.review-1 .caja1 .perfil div.nombre {
  display: flex;
  flex-direction: column;
}
section#reviews div.tarjeta-review div.review-1 .caja1 div.estrellitas i {
  font-size: 1.5rem;
  color: gold;
}
section#reviews div.tarjeta-review div.review-1 div.comentario p {
  font-size: 1rem;
  color: grey;
}

section.bannerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
}
section.bannerr a {
  padding: 10px;
  align-items: center;
}
section.bannerr .aprilia {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(202, 23, 32);
  text-decoration: none;
  font-size: 3rem;
}
section.bannerr .yamaha {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(0, 29, 190);
  text-decoration: none;
  font-size: 3rem;
}
section.bannerr .kawa {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(13, 177, 21);
  text-decoration: none;
  font-size: 3rem;
}
section.bannerr .ktm {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(197, 83, 6);
  text-decoration: none;
  font-size: 3rem;
}
section.bannerr .bmw {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(28, 115, 245);
  text-decoration: none;
  font-size: 3rem;
}

h2#APRILIA {
  color: rgb(202, 23, 32);
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 3rem;
  border-bottom: 2px solid rgb(202, 23, 32);
}

h2#YAMAHA {
  color: rgb(0, 29, 190);
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 3rem;
  border-bottom: 2px solid rgb(0, 29, 190);
}

h2#KAWA {
  color: rgb(13, 177, 21);
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 3rem;
  border-bottom: 2px solid rgb(13, 177, 21);
}

h2#KTM {
  color: rgb(197, 83, 6);
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 3rem;
  border-bottom: 2px solid rgb(197, 83, 6);
}

h2#sport {
  color: rgb(28, 115, 245);
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 3rem;
  border-bottom: 2px solid rgb(28, 115, 245);
}

h6#secundario {
  color: white;
  font-size: 1.5rem;
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  border-bottom: 2px solid rgb(28, 115, 245);
}

section.clientes-review .row {
  margin: 0;
}
section.clientes-review .row:after {
  content: "";
  display: table;
  clear: both;
}
section.clientes-review .row .column {
  float: left;
  width: 25%;
  padding: 0 5px;
  transition: transform 0.5s;
}
section.clientes-review .row .column:hover {
  transform: scale(1.1);
}
section.clientes-review .row .column .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: rgb(28, 115, 245);
  color: white;
}
section.clientes-review .row .column .card i {
  font-size: 50px;
}

section.inventario {
  background-color: rgba(107, 107, 107, 0.137);
  padding-bottom: 15px;
}
section.inventario div.row {
  margin: 0;
}
section.inventario div.row .card {
  align-items: center;
}

section.inventario2 {
  background-color: rgb(28, 115, 245);
}
section.inventario2 h2#Topventas {
  text-align: center;
  color: white;
  padding-top: 10px;
}
section.inventario2 .row {
  margin: 0;
}
section.inventario2 div.card {
  align-items: center;
  transition: transform 0.5s;
}
section.inventario2 div.card:hover {
  transform: scale(1.1);
}
section.inventario2 div.card img {
  width: 200px;
  height: 200px;
}
section.inventario2 div.card-body h5 {
  text-align: center;
}

section.inventario3 {
  background-color: rgb(28, 115, 245);
  padding-bottom: 20px;
}
section.inventario3 h1#Topventas {
  padding: 30px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}
section.inventario3 .row {
  margin: 0;
}

footer {
  box-sizing: border-box;
  display: block;
  color: rgb(28, 115, 245);
  text-align: center;
  justify-content: center;
  /* SECCION DE CONTACTO */
}
footer form.contacto {
  display: grid;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 5rem;
}
footer form.contacto h2.P10 {
  padding: 4px 0;
  font-family: "Audiowide", sans-serif;
}
footer form.contacto p {
  padding: 10px 0;
}
footer form.contacto div.P1 input {
  width: 100%;
  height: 50px;
  margin: 4px 0;
  border: 1.5px solid black;
  border-radius: 15px;
  background-color: white;
  padding: 0 15px;
  font-size: 15px;
}
footer form.contacto div.P2 textarea {
  padding: 5px 15px;
  border: 1.5px solid black;
  border-radius: 15px;
  background-color: white;
  font-size: 15px;
  width: 100%;
  margin: 4px 0;
}
footer form.contacto button {
  margin-top: 5px;
  border: none;
  border: 1.5px solid black;
  background-color: white;
  padding: 8px 0;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
  border-radius: 15px;
}
footer #pagos {
  display: grid;
  padding: 50px;
  background-color: white;
}
footer #pagos h4 {
  text-align: center;
  font-size: 1.5rem;
  color: black;
}
footer #pagos img {
  display: block;
  justify-self: center;
}
footer div.ubicacion {
  display: block;
}
footer div.ubicacion iframe {
  width: 390px;
}
footer div.subir {
  display: grid;
  position: sticky;
  right: 500px;
  top: 0;
  bottom: 0;
  justify-content: right;
  transition: 250ms;
}
footer div.subir i.material-icons {
  font-size: 60px;
  color: rgb(28, 115, 245);
  transition: transform 0.5s;
}
footer div.subir i.material-icons:hover {
  transform: scale(1.5);
}
footer .redes-s .icons a {
  background: #ecf0f3;
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
footer .redes-s .icons a:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
footer .redes-s .icons a:hover i {
  transform: scale(0.9);
}
footer .redes-s .icons a i {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  line-height: 60px;
}
footer .redes-s .fb {
  color: #4267B2;
}
footer .redes-s .twitter {
  color: #1DA1F2;
}
footer .redes-s .insta {
  color: #E1306C;
}
footer .redes-s .git {
  color: #333;
}
footer .redes-s .yt {
  color: #ff0000;
}/*# sourceMappingURL=main.css.map */