
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
    outline: none;
}

body { 
    min-width: 100%; 
    background-color: white;
    
}

/* LOGO MOTO HOUSE */
div.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(28, 115, 245);
}

nav {
    background-color: rgb(28, 115, 245);
    height: 65px;
  }

/* ENCABEZADO BMW */
.info2 a {
    position: relative;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;

}

/* BMW PERO DENTRO DE BMW*/
section.bannerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

section.bannerr a {
    padding: 10px;
    align-items: center;
}

/* VIDEO DECORATIVO PARA CADA SECCION */
video {
    width: 100%;
}

section.muestra {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}

section.muestra div {
    padding: 10px;
    text-align: center;
}
/* SECCION DE -MODELOS- */
div.deelete {
    display: flex;
    justify-content:center;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    color: rgb(28, 115, 245);
    font-size: 3rem;
}

/* TEXTO DESCRIPTIVO DE MODELO H2 */
h2#sport {
    color: rgb(28, 115, 245);
    font-size: 1.8rem;
    font-family: "Audiowide", sans-serif;
    padding-top: 50px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 3rem;
}

/*KAWASAKI*/
/* TEXTO DESCRIPTIVO DE MODELO H2 */
div.kawa {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    color: rgb(13, 177, 21);
    text-decoration: none;
    font-size: 3rem;
}

h2#KAWA {
    color: rgb(13, 177, 21);
    font-size: 1.8rem;
    font-family: "Audiowide", sans-serif;
    padding-top: 50px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 3rem;
}

div.ktm {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    color: rgb(197, 83, 6);
    text-decoration: none;
    font-size: 3rem;
}

h2#KTM {
    color: rgb(197, 83, 6);
    font-size: 1.8rem;
    font-family: "Audiowide", sans-serif;
    padding-top: 50px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 3rem;
}

div.yamaha {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    color: rgb(0, 29, 190);
    text-decoration: none;
    font-size: 3rem;
}

h2#YAMAHA {
    color: rgb(0, 29, 190);
    font-size: 1.8rem;
    font-family: "Audiowide", sans-serif;
    padding-top: 50px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 3rem;
}

div.aprilia {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    color: rgb(202, 23, 32);
    text-decoration: none;
    font-size: 3rem;
}

h2#APRILIA {
    color: rgb(202, 23, 32);
    font-size: 1.8rem;
    font-family: "Audiowide", sans-serif;
    padding-top: 50px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 3rem;
}

/* LOGO BMW Y TEXTO BMW */
section.bmwimg {
    display: flex;
    justify-content:center;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    color: rgb(28, 115, 245);
    font-size: 1.5rem;
    width: 100%;
    height: auto;
}

/*CARUSEL IMAGENES TAMANO*/
section.SPORT div div div img {
    width: 267px;
    height: 189px;
}

/* SECCION DE CONTACTO */
form.contacto {
    display: grid;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 5rem;
}

/* CONTACTENOS*/
h2.P10 {
    padding: 4px 0;
    font-family: "Audiowide", sans-serif;
}

/* UN ASCESOR SE COMUNICARA LO ANTES POSIBLE */
form p {
    padding: 10px 0;
}

/* NOMBRE APELLIDO EMAIL TELEFONO */
form input {
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1.5px solid black;
    border-radius: 15px;
    background-color: white;
    padding: 0 15px;
    font-size: 15px;
}

/* MENSAJE */
form textarea {
    padding: 5px 15px;
    border: 1.5px solid black;
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    width: 100%;
    margin: 4px 0;
}

/* BOTON ENVIAR */
form button {
    margin-top: 5px;
    border: none;
    border: 1.5px solid black;
    background-color: white;
    padding: 8px 0;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    border-radius: 15px;
}

/* FLECHITA PARA SUBIR AL INICIO */
div.subir {
    display: grid;
    position: sticky;
    right: 500px;
    top: 0;
    bottom: 0;
    justify-content: right;
    transition: 250ms;
}

button#subir {
    border: none;
}

i.material-icons {
    font-size: 60px;
    color: rgb(28, 115, 245);
}

/* SECCION FOOTER ********************/
footer {
    box-sizing: border-box;
    display: block;
    color: rgb(28, 115, 245);
    text-align: center;
    justify-content: center;
}

/************REVIEWS CLIENTES************/

#reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

div.reviews-clientes {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.reviews-clientes span {
    font-size: 1rem;
    color: darkslategrey;
    margin: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

div.reviews-clientes h1 {
    font-size: 2rem;
    font-weight: 500;
    background-color: rgb(28, 115, 245);
    color: white;
    padding: 20px 10px;
    text-align: center;
}

div.tarjeta-review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

div.review-1 {
    width: 500px;
    box-shadow: 2px 2px 30px black;
    background-color: white;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

div.imagen-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

div.imagen-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

div.perfil {
    display: flex;
    align-items: center;
}

div.nombre {
    display: flex;
    flex-direction: column;
}

div.nombre strong {
    color: rgb(28, 115, 245);
    font-size: 1.5rem;
}

div.nombre span {
    color: black;
    font-size: 1rem;
}

div.estrellitas  i {
    font-size: 1.5rem;
    color: gold;
}

div.caja1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

div.comentario p {
    font-size: 1rem;
    color: grey
}

div.review-1:hover {
    transform: translateY(-10px);
    transition: all ease 0.2s;
}
/*********FIN REVIEWS************/

/*MAPA GOOGLE Y VISA*/
#pagos {
    display: grid;
    padding: 50px;
    background-color: white;
}
#pagos h4 {
    text-align: center;
    font-size: 1.5rem;
    color: black;
}
#pagos img {
    display: block;
    justify-self: center;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
}