@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  section.muestra {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    padding: 50px;
  }
  section.muestra div {
    padding: 10px;
    text-align: center;
    transition: transform 0.5s;
  }
  section.muestra div:hover {
    transform: scale(1.1);
  }
  section.muestra div a img {
    height: 100px;
    width: 100px;
  }
  section.bannerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
  }
  section.bannerr a {
    padding: 10px;
    align-items: center;
  }
  section.bannerr a img {
    width: 100%;
  }
  div#footer {
    width: 100%;
  }
  div#footer div.P1 {
    width: 100%;
  }
  div#footer div.P1 input {
    width: 100%;
  }
  div#footer div.P2 {
    width: 100%;
  }
  div#footer div.P2 textarea {
    width: 100%;
  }
  div#footer div.button {
    width: 100%;
  }
  div#footer div.button button {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  outline: none;
}

body {
  width: 100%;
  background-color: white;
}

/* LOGO MOTO HOUSE */
div.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(28, 115, 245);
}

nav {
  background-color: rgb(28, 115, 245);
  height: 100%;
}
nav a img {
  width: 100px;
  height: 100px;
}

section.bmwimg {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(28, 115, 245);
  font-size: 1.5rem;
  width: 100%;
  height: auto;
}
section.bmwimg div.stock video {
  width: 100%;
}
section.bmwimg div.stock h1.deelete {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(28, 115, 245);
  font-size: 2.5rem;
}
section.bmwimg .aprilia {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(202, 23, 32);
  text-decoration: none;
  font-size: 3rem;
}
section.bmwimg .yamaha {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(0, 29, 190);
  text-decoration: none;
  font-size: 3rem;
}
section.bmwimg .kawa {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(13, 177, 21);
  text-decoration: none;
  font-size: 3rem;
}
section.bmwimg .ktm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(197, 83, 6);
  text-decoration: none;
  font-size: 3rem;
}
section.bmwimg .bmw {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(28, 115, 245);
  text-decoration: none;
  font-size: 3rem;
}

section.muestra {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  padding: 50px;
}
section.muestra div {
  padding: 10px;
  text-align: center;
  transition: transform 0.5s;
}
section.muestra div:hover {
  transform: scale(1.1);
}
section.muestra div img {
  height: 150px;
  width: 150px;
}

section#reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
section#reviews h2.reviews-clientes {
  letter-spacing: 10px;
  margin: 30px 0px;
  padding: 10px 20px;
  color: rgb(28, 115, 245);
  text-transform: uppercase;
  text-align: center;
}
section#reviews div.tarjeta-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
section#reviews div.tarjeta-review div.review-1 {
  width: 500px;
  box-shadow: 2px 2px 30px black;
  background-color: white;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  transition: transform 0.5s;
}
section#reviews div.tarjeta-review div.review-1:hover {
  transform: scale(1.1);
}
section#reviews div.tarjeta-review div.review-1 .caja1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
section#reviews div.tarjeta-review div.review-1 .caja1 .perfil {
  display: flex;
  align-items: center;
}
section#reviews div.tarjeta-review div.review-1 .caja1 .perfil .imagen-perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
section#reviews div.tarjeta-review div.review-1 .caja1 .perfil .imagen-perfil img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section#reviews div.tarjeta-review div.review-1 .caja1 .perfil div.nombre {
  display: flex;
  flex-direction: column;
}
section#reviews div.tarjeta-review div.review-1 .caja1 div.estrellitas i {
  font-size: 1.5rem;
  color: gold;
}
section#reviews div.tarjeta-review div.review-1 div.comentario p {
  font-size: 1rem;
  color: grey;
}

section.bannerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
}
section.bannerr a {
  padding: 10px;
}
section.bannerr a img {
  height: 150px;
  width: 200px;
}
section.bannerr .aprilia {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(202, 23, 32);
  text-decoration: none;
  font-size: 3rem;
}
section.bannerr .yamaha {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(0, 29, 190);
  text-decoration: none;
  font-size: 3rem;
}
section.bannerr .kawa {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(13, 177, 21);
  text-decoration: none;
  font-size: 3rem;
}
section.bannerr .ktm {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(197, 83, 6);
  text-decoration: none;
  font-size: 3rem;
}
section.bannerr .bmw {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(28, 115, 245);
  text-decoration: none;
  font-size: 3rem;
}

h3#APRILIA {
  color: rgb(202, 23, 32);
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 1.5px 1.5px black;
  font-size: 2rem;
  border-bottom: 2px solid rgb(202, 23, 32);
}

h3#YAMAHA {
  color: rgb(0, 29, 190);
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 1.5px 1.5px black;
  font-size: 2rem;
  border-bottom: 2px solid rgb(0, 29, 190);
}

h3#KAWA {
  color: rgb(13, 177, 21);
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 1.5px 1.5px black;
  font-size: 2rem;
  border-bottom: 2px solid rgb(13, 177, 21);
}

h3#KTM {
  color: rgb(197, 83, 6);
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 1.5px 1.5px black;
  font-size: 2rem;
  border-bottom: 2px solid rgb(197, 83, 6);
}

h3#sport {
  color: rgb(28, 115, 245);
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 1.5px 1.5px black;
  font-size: 2rem;
  border-bottom: 2px solid rgb(28, 115, 245);
}

h1#como-comprar {
  color: rgb(28, 115, 245);
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 2rem;
  border-bottom: 2px solid rgb(28, 115, 245);
}

p#secundario {
  color: white;
  font-size: 1.5rem;
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  border-bottom: 2px solid rgb(28, 115, 245);
  padding-bottom: 10px;
}

h2#secundario {
  color: white;
  font-size: 1.5rem;
  font-family: "Audiowide", sans-serif;
  padding-top: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  border-bottom: 2px solid rgb(28, 115, 245);
  padding-bottom: 10px;
}

section.clientes-review .row {
  margin: 0;
}
section.clientes-review .row:after {
  content: "";
  display: table;
  clear: both;
}
section.clientes-review .row .column {
  float: left;
  width: 25%;
  padding: 0 5px;
}
section.clientes-review .row .column .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: rgb(28, 115, 245);
  color: white;
}
section.clientes-review .row .column .card i {
  font-size: 50px;
}

section.inventario {
  background-color: rgba(107, 107, 107, 0.137);
  padding-bottom: 15px;
}
section.inventario div.row {
  margin: 0;
}
section.inventario div.row .card {
  align-items: center;
}

section.inventario2 {
  background-color: rgb(28, 115, 245);
}
section.inventario2 h1#Topventas {
  text-align: center;
  color: white;
  padding-top: 10px;
}
section.inventario2 .row {
  margin: 0;
}
section.inventario2 .card-group {
  padding: 30px;
  margin: 10px;
}
section.inventario2 div.card {
  align-items: center;
  transition: transform 0.2s;
}
section.inventario2 div.card:hover {
  transform: scale(1.1);
}
section.inventario2 div.card img {
  width: 200px;
  height: 200px;
}
section.inventario2 div.card-body h5 {
  text-align: center;
}

section.inventario3 {
  background-color: rgb(28, 115, 245);
  padding-bottom: 20px;
}
section.inventario3 h1#Topventas {
  padding: 30px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}
section.inventario3 .card-group {
  padding: 65px;
}
section.inventario3 .card-group div {
  align-items: center;
}
section.inventario3 .card-group div img {
  width: 190px;
  height: 190px;
}
section.inventario3 .card-group div .card-body {
  text-align: justify;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
section.inventario3 .row {
  margin: 0;
  padding: 30px;
}

#como-comprar {
  display: flex;
}

.como {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(0, 0, 255) 3%, rgb(255, 255, 255) 11%, rgb(255, 255, 255) 83%, rgb(0, 0, 255) 98%, rgb(255, 255, 255) 100%);
}
.como .comprar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
}

footer {
  box-sizing: border-box;
  color: rgb(28, 115, 245);
  text-align: center;
  justify-content: center;
  /* SECCION DE CONTACTO */
}
footer form.contacto {
  display: grid;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  justify-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
footer form.contacto h2.P10 {
  padding: 4px 0;
  font-family: "Audiowide", sans-serif;
}
footer form.contacto p {
  padding: 10px 0;
}
footer form.contacto div.P1 input {
  width: 350px;
  height: 50px;
  margin: 4px 0;
  border: 1.5px solid black;
  border-radius: 15px;
  background-color: white;
  padding: 0 15px;
  font-size: 15px;
}
footer form.contacto div.P2 textarea {
  padding: 5px 15px;
  border: 1.5px solid black;
  border-radius: 15px;
  background-color: white;
  font-size: 15px;
  width: 350px;
  margin: 4px 0;
}
footer form.contacto div.button button {
  display: flex;
  margin-top: 5px;
  border: 1.5px solid black;
  background-color: white;
  padding: 8px 0;
  width: 350px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 15px;
  justify-content: center;
}
footer div.infofooter {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
footer div.infofooter p {
  font-size: 2rem;
}
footer div.infofooter div.ubicacion {
  display: block;
  padding: 10px;
}
footer div.infofooter div.ubicacion iframe {
  width: 290px;
}
footer div.infofooter div.ubicacion p {
  font-size: 2rem;
}
footer div.infofooter #pagos {
  display: grid;
  padding: 10px;
  background-color: white;
  border-right: 2px solid rgb(28, 115, 245);
  border-bottom: 2px solid rgb(28, 115, 245);
}
footer div.infofooter #pagos h1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(28, 115, 245);
}
footer div.infofooter #pagos .pagos {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer div.infofooter #pagos .pagos ul#uno {
  display: flex;
}
footer div.infofooter #pagos .pagos ul#uno li {
  border-style: none;
  padding: 10px;
}
footer div.infofooter .nosotros {
  border-left: 2px solid rgb(28, 115, 245);
  border-top: 2px solid rgb(28, 115, 245);
}
footer div.infofooter .nosotros .titulo {
  display: flex;
  align-items: flex-start;
  font-size: 2rem;
}
footer div.infofooter .nosotros ul {
  align-items: flex-start;
}
footer div.infofooter .nosotros ul li {
  border-style: none;
  transform: transform 3s;
}
footer div.infofooter .nosotros ul li:hover {
  transform: scale(1.05);
}
footer div.infofooter .nosotros ul li a {
  text-decoration: none;
}
footer div.subir {
  display: grid;
  position: sticky;
  right: 500px;
  top: 0;
  bottom: 0;
  justify-content: right;
  transition: 250ms;
}
footer div.subir i.material-icons {
  font-size: 60px;
  color: rgb(28, 115, 245);
}
footer .redes-s {
  padding-bottom: 50px;
}
footer .redes-s .icons a {
  background: #ecf0f3;
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
footer .redes-s .icons a:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
footer .redes-s .icons a:hover i {
  transform: scale(0.9);
}
footer .redes-s .icons a i {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  line-height: 60px;
}
footer .redes-s .fb {
  color: #4267B2;
}
footer .redes-s .twitter {
  color: #1DA1F2;
}
footer .redes-s .insta {
  color: #E1306C;
}
footer .redes-s .git {
  color: #333;
}
footer .redes-s .yt {
  color: #ff0000;
}
footer .telefono {
  background-color: #333;
  color: #ffffff;
  height: 100;
}
footer .telefono p {
  font-size: 1.2rem;
}/*# sourceMappingURL=main.css.map */