footer {
    box-sizing: border-box;
    color: rgb(28, 115, 245);
    text-align: center;
    justify-content: center;

    /* SECCION DE CONTACTO */
    form.contacto {
        display: grid;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 1rem;
        justify-items: center;
        justify-content: center;
        padding-bottom: 10px;

        h2.P10 {
        padding: 4px 0;
        font-family: "Audiowide", sans-serif;
        }

        p {
            padding: 10px 0;
        }

        div.P1 {

            input {
                width: 350px;
                height: 50px;
                margin: 4px 0;
                border: 1.5px solid black;
                border-radius: 15px;
                background-color: white;
                padding: 0 15px;
                font-size: 15px;
            }
        }

        div.P2 {
            textarea {
                padding: 5px 15px;
                border: 1.5px solid black;
                border-radius: 15px;
                background-color: white;
                font-size: 15px;
                width: 350px;
                margin: 4px 0;
            }
        }

        div.button{

            button {
                display: flex;
                margin-top: 5px;
                border: 1.5px solid black;
                background-color: white;
                padding: 8px 0;
                width: 350px;
                font-size: 15px;
                cursor: pointer;
                border-radius: 15px;
                justify-content: center;
            }
        }

    }

    div.infofooter {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;
        
        div.ubicacion {
            display: block;
            padding: 10px;
    
            iframe {
                width: 290px;
            }
        }

        #pagos {
            display: grid;
            padding: 10px;
            background-color: white;
            border-right: 2px solid $colorpagina;
            border-bottom: 2px solid $colorpagina;
    
            h4 {
                text-align: center;
                font-size: 1.5rem;
                color: black;
            }
    
            .pagos {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                ul {
                    align-items: flex-start;
    
                    li {
                        border-style: none;                       
                    }
                }
            }
    
        }

        .nosotros {
            border-left: 2px solid $colorpagina;
            border-top: 2px solid $colorpagina;

            .titulo {
                display: flex;
                align-items: flex-start;
                margin: 5px;
            }

            ul {
                align-items: flex-start;

                li {
                    border-style: none;
                    transform: transform 3s;

                    &:hover {
                        transform: scale(1.05);
                    }

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    div.subir {
        display: grid;
        position: sticky;
        right: 500px;
        top: 0;
        bottom: 0;
        justify-content: right;
        transition: 250ms;
        
        i.material-icons {
            font-size: 60px;
            color: rgb(28, 115, 245);
        }
    }
    
    .redes-s {
        padding-bottom: 50px;

        .icons a {
            background: #ecf0f3;
            position: relative;
            height: 60px;
            width: 60px;
            margin: 0 10px;
            display: inline-flex;
            text-decoration: none;
            border-radius: 50%;
            transition: all 0.3s;
            box-shadow: -3px -3px 7px #ffffff,
                        3px 3px 5px #ceced1;

                        &:hover:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            border-radius: 50%;
                            background: #ecf0f3;
                            box-shadow: inset -3px -3px 7px #ffffff,
                                        inset 3px 3px 5px #ceced1;
                        }
                        
                        &:hover i {
                            transform: scale(0.9);
                        }
                        
                        i {
                            position: relative;
                            z-index: 3;
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            font-size: 25px;
                            line-height: 60px;

                            
                        }
          }

        .fb {
            color: #4267B2;
        }

        .twitter {
            color: #1DA1F2;
        }

        .insta {
            color: #E1306C;
        }

        .git {
            color: #333;
        }

        .yt {
            color: #ff0000;
        }
    }
}

