body { 
    width: 100%; 
    background-color: white;
}

/* LOGO MOTO HOUSE */
div.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: $colorpagina;
}

nav {
    background-color: $colorpagina;
    height: 100%;
}


