
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
       display: flex;
       flex-basis: auto;
       justify-content: flex-end;
       width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
}

@mixin marcas($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin titulos($display, $align) {
  display: $display;
  align-items: $align;
}

$colorpagina: rgb(28, 115, 245);