
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
       display: flex;
       flex-basis: auto;
       justify-content: flex-end;
       width: 100%;
    }
}

@media (max-width: 400px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }

    section.muestra {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;

      div {
          padding: 10px;
          text-align: center;
          transition: transform .5s;
          width: 100%;

              &:hover {
                  transform: scale(1.1);
              }
          
              img {
                  height: 150px;
                  width: 150px;
              }
      }
    }

    section.bannerr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 40px;
  
      a {
          padding: 10px;
          align-items: center;
  
          img {
              width: 100%;
          }
      }
    }

    div#footer {
      width: 100%;

      div.P1 {
        width: 100%;
        
        input {
          width: 100%;
        }
      }

      div.P2 {
        width: 100%;
        
        textarea {
          width: 100%;
        }
      }

      div.button {
        width: 100%;
        
        button {
          width: 100%;
        }
      }    
  }
}

@mixin marcas($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin titulos($display, $align) {
  display: $display;
  align-items: $align;
}

$colorpagina: rgb(28, 115, 245);